@media only screen and (max-width: 600px) {
    .calendlyCorrection  {
      width: 95%;
    }
    p {
        word-break: break-all;
      }
   }

   .quote {
     font-size: 27px;
     font-style: italic;
   }