footer {
    background-color: rgb(45,49,66);
    border-top: solid;
    border-top-color: #fdd835;
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
    margin-top: 80px;
}

.footer {
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: white;
}

h3 {
    font-size: 20px;
    text-decoration: underline; 
}

h5 {
    font-size: smaller;
}

h5:hover a:hover{
    color: #fdd835
}

.fa-facebook{
    background: #3B5998;
}

.fa:hover {
    opacity: 0.7;
    color: white !important;
  }

  .fa {
    padding: 20px;
    font-size: 20px;
    width: 56px;
    height: 60px;
    text-align: center;
    text-decoration: none;
  }

  

@media only screen and (max-width: 600px) {
    footer {
        height: 100%;;
    }
    
    .footer {
        margin: auto;
    }
    .rowclass {
        flex-direction: column;
    }
    h3, h5, .fa{
        font-size: 10px;
        text-align: center;
    }
    h3 {
        font-weight: bold;
    }
    .fa {
        width: 20px;
        height: 20px;
        text-align: center;
    }
}
