.jumbotron {
    text-align: center !important;
    background-image: url("./skyview.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: 23%;
    background-position: left center;
    color: rgb(45,49,66);
    margin: 8%;
}

hr {
    border-top: 3px solid  !important;
    width: 60%;
}

/* .tag {
    font-size: 200% !important;
} */



.display-4{
    font-weight: bold;
    font-size: 300% !important;
}

@media only screen and (max-width: 600px) {
    .display-4 {
        font-size:135% !important;
        /* text-align: right; */
    }
    .tag {
        font-size: 100%;
        /* text-align: right; */
    }
    /* hr {
        width: 200px;
    }
    .jumbotron {
        margin: 25px;
    } */
    
}