h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: rgb(45,49,66);
    display: block;
}

.home {
    color: rgb(45,49,66);
    margin-left: 30px;
    font-size: 20px !important;
    margin-top: 20px;
    display: block;
}

.state {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media only screen and (max-width: 600px) {
    .home {
        font-size: 15px !important;
        width: 100%;
        margin: auto;
    }
    h2 {
        font-size: 25px;
        width: 100%;
    }
    .rowclass {
        flex-direction: column;
    }
}
