h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: rgb(45,49,66);
    display: block;
}

.hometext {
    color: rgb(45,49,66);
    margin-left: 4%;
    margin-right: 4%;
    font-size: 125% !important;
    margin-top: 20px;
    display: block;
}

.state {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.AboutUs, .OurHistory {
    padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .hometext {
        font-size: 15px !important;
        /* width: 100%; */
        margin: auto;
    }
    .AboutUs, .OurHistory {
        font-size: 25px;
        width: 100%;
    } 
    .rowclass {
        flex-direction: column;
        width: 100%;
    }

}
