footer {
    background-color: rgb(45,49,66);
    border-top: solid;
    border-top-color: #fdd835;
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
    margin-top: 80px;
}

.footer {
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    text-decoration: underline; 
}

h5 {
    font-size: smaller;
}

h5:hover {
    color: #fdd835
}

@media only screen and (max-width: 600px) {
    footer {
        height: 100%;;
    }
    
    .footer {
        margin: auto;
    }
    .rowclass {
        flex-direction: column;
    }
    h3, h5 {
        font-size: 10px;
        text-align: center;
    }
    h3 {
        font-weight: bold;
    }
}
