footer {
    background-color: rgb(45,49,66);
    border-top: solid;
    border-top-color: #fdd835;
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
    margin-top: 80px;
}

.footer {
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: white;
}

h3 {
    font-size: 20px;
    text-decoration: underline; 
}

h5 {
    font-size: smaller;
}

h5:hover a:hover{
    color: #fdd835;
    text-decoration-line: none;

}


.fab:hover {
    opacity: 0.7;
    color: white !important;
    text-decoration-line: none;
}



.fa {
    padding: 12px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 15%;
}

  

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1201px) {

}

  

@media only screen and (max-width: 600px) {
    footer {
        height: 100%;;
    }
    
    .footer {
        margin: auto;
    }
    .rowclass {
        flex-direction: column;
    }
    h3, h5{
        font-size: 15px;
        text-align: center;
    }
    h3 {
        font-weight: bold;
    }
    .fab {
        text-align: center;
    }
}
