.carouselSize {
    width: 87%;
    margin: auto;
    border-color: rgb(45,49,66);
    border-style: solid;
    border-width: 10px;
}

.container {
    margin-top: 5%;
    
};

.masterContainer {
    width: 100%;
}

    @media only screen and (max-width: 600px) {
        /* .carouselSize {
            width: 200px;
            margin: auto;
            border-width: 10px;
        } */
        /* .carouselCorrection  {
            width: 95%;
          } */
        
    }
