h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: rgb(45,49,66);
    display: block;
}

.rentalText {
  font-size: "20px";
  font-style: italic;
  text-decoration: none;
  font-size: 34px;
  color: "#C8C8C8";
}
    /* @media only screen and (max-width: 500px) {
        .row {
            flex-direction: column;

        }
    } */

    /* @media only screen and (max-width: 900px) {
        .picture, .CcCalendly {
            display: block;
            width: 100%
        }

    } */
 
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .rentals {
      width: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .rentals {
      width: 100%;
    }
  }

